@import '_variables';

/* base styles */

body {
    color: $charcoal;
    background-attachment: fixed;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 17px;
    transition: transform 0.5s ease-out 0.25s;

    &.hidden-content-header {
        transform: translateY(-55%);

        @media (min-width: $screen-sm-min) {
            transform: translateY(-38%);
        }
    }

    @media (min-width: $screen-sm-min) {
        padding: 50px 100px;
    }

    @media (min-width: $screen-md-min) {
        padding: 75px 150px;
    }
}

a {
    color: $charcoal;
    transition: color 300ms ease-out, transform 300ms ease-in-out;

    &:hover {
        color: $orange;
        transform: translateY(-2px);
    }

    .current {
        color: $fadedGreen;
        cursor: default;
    }
}

h1 {
    font-weight: 700;
    font-size: 33px;
    letter-spacing: 0.1rem;
}

h2 {
    color: $charcoal;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.05rem;
    margin-top: 4%;
    margin-bottom: 1.6em;
}

p {
    color: $charcoal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}
