@import "_variables";

.comic-reader__wrapper {
    height: 80vh;

    .comic-reader__page--previous {
        position: absolute;
        // visibility: hidden;
        z-index: 3;
    }

    .comic-reader__page--current {
        position: absolute;
        // visibility: visible;
        z-index: 2;
    }

    .comic-reader__page--next {
        position: absolute;
        // visibility: hidden;
        z-index: 1;
    }
}