@import "_variables";

/* content header styles */
.content-header--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100rem;
  max-width: 720px;
  height: 440px;
  margin-bottom: 8rem;

  .content-header--cover-wrapper {
    width: calc(50% - 1%);
    height: 49vw;
    max-height: 466px;
    position: relative;
    overflow: hidden;

    .content-header--cover-image {
      object-fit: cover;
      height: auto;
    //   object-position: right top;
    }
  }

  .content-header--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(50% - 1%);
    height: fit-content;
    color: #000;
    background-color: $offWhite;
    padding: 5%;

    .content-header--description__links-wrapper {
      display: flex;
      flex-direction: row;

      .content-header--description__link-wrapper {
        display: flex;
        flex-direction: row;
      }

      .content-header--description__link-spacer {
        color: $offBlack;
        font-size: 14px;
        font-weight: 400;
      }

      .content-header--description__link {
        display: flex;
        flex-direction: row;
        color: $deepGreen;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        padding-left: 10%;
        padding-right: 10%;

        &:hover {
          // color: $offBlack;
          color: $offWhite;
          background-color: $deepGreen;
        }
      }
    }
  }
}
