@import '_variables';

/* content header styles */
.content-header--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 396px;
    transition: transform 0.25s ease-in-out 0.25s;

    @media (min-width: $screen-md-min) {
        flex-direction: row;
        min-width: 75vw;
    }

    .content-header--cover-wrapper {
        max-height: 70vh;
        position: relative;

        @media (min-width: $screen-md-min) {
            left: 5%; 
        }

        .content-header--cover-image {
            object-fit: contain;
            height: auto;
            margin-bottom: 75px;
        }
    }

    .content-header--description {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #000;
        background-color: $offWhite;
        padding: 25px;
        flex-direction: column;
        margin-top: -25px;
        box-shadow: #000 0 -5px 15px;
        min-width: 250px;

        a {
            color: $charcoal;
            text-decoration: underline;

            &:hover {
                color: $red;
            }
        }

        @media (min-width: $screen-md-min) {
            z-index: 1;
            position: relative;
            right: 5%;
        }

        .content-header--description__links-wrapper {
            display: flex;
            flex-direction: row;

            .content-header--description__link-wrapper {
                display: flex;
                flex-direction: row;
            }

            .content-header--description__link {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                padding: 10%;
                cursor: pointer;
                margin-right: 15px;
                color: $charcoal;
                text-decoration: none;

                &:hover {
                    color: $red;
                }

                &.read-button {
                    color: $charcoal;
                    transition: transform 300ms ease-in-out, color 300ms ease-in-out;

                    &:hover {
                        color: $red;
                        transform: translateY(-4px);
                    }
                }
            }
        }
    }
}