@import "_variables";

/* hub page styles */
.hub-page--links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $offWhite;
  background: linear-gradient(to top, $offWhite, rgba(0, 0, 0, 0));

  @media (min-width: $screen-sm-min) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 5% 51vh 5%;
  }

  @media (min-width: $screen-md-min) {
    padding: 5%;
  }

  .hub-page--link {
    color: $offWhite;
    display: flex;
    padding: 15%;
    height: 50vw;
    width: 85vw;
    max-width: 500px;
    justify-content: center;
    align-items: flex-end;
    background-color: $charcoal;
    position: relative;
    font-size: 1.3em;
    // font-weight: 700;
    text-shadow: 1px 1px 1px $charcoal;
    text-align: center;
    margin: 4%;
    overflow: hidden;

    &:nth-of-type(odd) {
      justify-self: flex-end;
    }

    &:nth-of-type(even) {
      justify-self: start;
    }

    @media (min-width: $screen-sm-min) {
      height: 22vw;
      width: 40vw;
    }

    @media (min-width: $screen-md-min) {
      font-size: 1.6em;
    }

    .hub-page--image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
    }

    .hub-page--preview-image {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      transform: scale(1.05);
      transition: transform 0.3s ease-out;
    }

    .hub-page--link-label {
      display: inline-block;
      position: relative;
      transition-property: transform, text-shadow;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      z-index: 9;
      text-shadow: 1px 2px 5px black;
    }

    &:hover {
      .hub-page--preview-image {
        transform: scale(1)
      }

      .hub-page--link-label {
        transform: translateY(-2px) scale(1.05);
        text-shadow: 2px 4px 10px black;
      }
    }
  }

  a {
    text-decoration: none;
    text-underline-offset: auto;
    transform: none;
  }
}