@import '_variables';

/* hub page styles */
.hub-page--links-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 40% 40%;
    
    .hub-page--link {
        display: flex;
        justify-content: center;
        padding: 20% 20%;

        border: 1rem solid;

        &:hover {
            color: $softGreen;
            background-color: $offWhite;

            border: none;
        }
    }
}