@import '_variables';

/* nav styles */
.navbar {
    color: $softGreen;
    background-color: $offWhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;

    .navbar--title {
        font-size: 106px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 15px;
        line-height: 1em;
        margin: 1vw 3vw;
    }

    .navbar--links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 2em;
        margin: 1vw 3vw;

        .navbar--link {
            padding: 0 .4em;

            &:hover {
                color: $offWhite;
                background-color: $softGreen;
                // transition: 0.1s ease-in-out;
            }
        }
    }
}