@import '_variables';

.publications__wrapper {
    display: flex;
    flex-direction: column;
    text-shadow: rgba(27, 27, 27, 0.3) 0 2px 15px;

    .publications__header {
        display: flex;
        font-size: 1.8em;
        margin: 20px 0 80px 0;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.02em;
    }

    a {
        color: $offWhite;
        transition: text-shadow 300ms ease-in-out, transform 300ms ease-in-out,;
        text-decoration: none;
        text-underline-offset: unset;

        &:hover {
            text-decoration: none;
            text-underline-offset: unset;
            transform: translateY(-4px);
            transform: scale(1.02);
            text-shadow: rgba(27, 27, 27, 0.6) 0 2px 15px;

            .pub__title {
                @media (min-width: $screen-sm-min) {
                    text-decoration: none;
                }
            }
        }
    }

    .pub__no-link {
        &:hover {
            .pub__detail--availability {
                text-decoration: underline;
            }
        }
    }

    .pub {
        display: flex;
        flex-direction: column;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;

        @media (min-width: $screen-sm-min) {
            flex-direction: row;
        }

        .pub__title {
            display: flex;
            width: fit-content;
            font-size: 2em;

            @media (min-width: $screen-sm-min) {
                width: 20vw;
                margin: 11px 32px 17px 0;
            }
        }

        .pub__details-wrapper {
            display: flex;
            flex-direction: column;
            font-size: 1.2em;
            letter-spacing: 0.05em;
            margin-left: 10vw;

            @media (min-width: $screen-sm-min) {
                margin: 11px 0 17px 32px;
            }

            .pub__detail {
                width: fit-content;
                margin: 10px 0 10px 0;
                border-left: 1vw solid transparent;
                border-right: 1vw solid transparent;
            }
        }
    }

    .pub__divider-line {
        background-color: $offWhite;
        height: 1px;
        margin: 17px 0 17px 0;
    }
}