$cardsRed: #D22F00;

body {
    background-color: #E8DFE2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

select {
    background-color: transparent;
    border: 4px solid black;
    border-radius: 4%;
    margin: 0;
    height: 40px;
    width: 150px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
}

.cards-app--header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: flex-end;
    width: 354px;

    .cards-app--header-image {}

    .cards-app--header-buttons {
        display: flex;
        gap: 50px;

        .cards-app--header-button {
            background: none;
            border: none;
            font: inherit;
            cursor: pointer;
            transition: color 200ms ease-out;

            &:hover {
                color: $cardsRed;
            }

            &.cards-app--header-button__selected {
                color: $cardsRed;
                border-bottom: 2px $cardsRed solid;
            }
        }
    }
}

.cards-app--about-wrapper {
    max-width: 354px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cards-app--copyright-footer {
    margin-top: 70px;
    font-size: small;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 67px 5rem;
    gap: 20px;

    .cards-card--wrapper {
        width: 350px;
        height: 490px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cards-blank {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 150px 40px;

            .cards-blank--logo {}

            .cards-blank--description {
                text-align: center;
            }
        }
    }

    .card-selects--wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .card-selects--conjunction {
            padding: 0 30px;
        }
        .card-select--selector {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
        }

        .card--joker-select__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 20px;
            
            .card--joker-select {
                border: none;
                color: white;
                font: inherit;
                cursor: pointer;
                transition: color 200ms ease-out;
                width: 100%;
                height: 3rem;
        
                border-radius: 4px;
                box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
                opacity: 1;
                background-color: rgba(210, 47, 0, 1);
                border:rgba(210, 47, 0, 1) 3px solid;

                &.card--joker-select__disabled {
                    border: black 3px solid;
                }
            }
        }

        .card-select--option {}

    }

    .card-submit {
        border: none;
        color: white;
        font: inherit;
        cursor: pointer;
        transition: color 200ms ease-out;
        margin: 10px;
        width: 100%;
        height: 3rem;

        border-radius: 4px;
        box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
        opacity: 1;
        background-color: rgba(210, 47, 0, 1);
    }

}