$cardsRed: #D22F00;

body {
    background-color:#E8DFE2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.cards-app--header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 30px;
    gap: 200px;
    align-items: flex-end;

    .cards-app--header-image {

    }

    .cards-app--header-buttons {
        display: flex;
        gap: 50px;

        .cards-app--header-button {
            background: none;
            border: none;
            font: inherit;
            cursor: pointer;
            transition: color 200ms ease-out;

            &:hover {
                color: $cardsRed;
            }

            &.cards-app--header-button__selected {
                color: $cardsRed;
                border-bottom: 2px $cardsRed solid;
            }
        }
    }
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    gap: 20px;

    .cards-card--wrapper {
        width: 350px;
        height: 490px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .cards-blank {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 150px 40px;
            
            .cards-blank--logo {
                
            }
            
            .cards-blank--description {
                text-align: center;
            }
        }
    }
    
    .card-selects--wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;

        .card-select--wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            
            .card-select--label {
                margin: 3px;
            }
            
            .card-select--selector {
                display: flex;
                justify-content: center;
                margin-bottom: 3px;
                width: 125px;
                height: 3rem;
            }

            .card-select--option {

            }
        }
    }

    .card-submit {
        margin: 10px;
        width: 275px;
        height: 3rem;
    }

}