body {
    background-color: whitesmoke;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

.dev-header-and-buttons-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: 450px) {
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: dotted 2px black;
    }

    .dev-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media (max-width: 450px) {
            align-items: flex-start;
            padding-left: 1rem;
        }

        .dev-header__title {
            font-size: 4em;
            font-weight: 900;
            text-align: center;

            @media (max-width: 450px) {
                text-align: left;
                font-size: 3em;
            }
        }

        .dev-header__subtitle {
            font-size: 1.5em;
            font-weight: 400;

            @media (max-width: 450px) {
                font-size: 1em;
            }
        }

    }

    .dev-header__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        margin: 30px 0;
        background-color: black;

        @media (max-width: 450px) {
            background-color: whitesmoke;
            gap: 30px;
            flex-direction: column;
            margin: 15px 0 0 0;
        }


        .dev-header__button {
            color: whitesmoke;
            height: auto;
            padding: 15px 30px;

            @media (max-width: 450px) {
                background-color: black;
                padding: 15px;
            }

            &:hover {
                background-color: whitesmoke;
                color: black;
            }
        }
    }
}

.dev-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: solid 3px black;
    box-shadow: 6px 6px black;
    margin: 20px;
    padding: 25px 20px 30px 20px;

    @media (max-width: 450px) {
        width: unset;
    }

    .dev-info-block__close-button {
        background-color: black;
        color: whitesmoke;
        position: relative;
        left: 35%;
        margin-top: 5%;
    }

    .dev-info-block__header {
        font-size: 1.5em;
        font-weight: 600;
        width: 100%;
        border-bottom: dotted 2px black;
        margin-bottom: 20px;
    }

    .dev-block-section {
        width: 100%;

        .dev-block-section__pre-header {
            font-size: 0.9em;
        }

        .dev-block-section__header {
            font-size: 1.2em;
            font-weight: 600;
        }

        .dev-block-section__sub-header {
            font-size: 0.9em;
        }

        .dev-block-section__body-text {
            padding-left: 40px;
            margin: 16px 0 32px 0;
        }

        .dev-block-section__bullet-list {
            margin: 16px 0 32px 0;
        }
    }
}