$darkGreen: #022400;
$lightPurple: #FDE5FF;
$bottomLayer: auto;
$middleLayer: 1;
$topLayer: 2;

@keyframes slideInFromBottom {
    0% {
        transform: translateY(150%);
        opacit: 0;
    }
    25% {
        transform: translateY(120%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInAndDescend {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background: $darkGreen;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0 100px 0;
    background: $darkGreen;
    color: $lightPurple;

    .login-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center;

        input {
            all: unset;
            background: white;
            color: $darkGreen;
            height: 40px;
            width: 70vw;
            padding: 15px;
            font-size: x-large;
        }

        button, input[type="submit"], input[type="reset"] {
            background: $lightPurple;
            color: $darkGreen;
            border: none;
            padding: 10px;
            font: inherit;
            outline: inherit;
            font-size: x-large;
            width: 200px;
        }
    }
    
    .center-column {
        display: flex;
        flex-direction: column;
        justify-items: center;   
        text-align: center;
        gap: 5vh;
        z-index: $middleLayer;
        text-shadow: 2px 2px 1px black;
        padding-bottom: 100px;
        opacity: 0;
        animation: slideInFromBottom 1.5s ease-out 0s 1 forwards;

        .info-1 {
            gap: 3vh;
        }

    }

    .ring {
        padding-top: 300px;
        position: fixed;
        height: 75%;
        width: 100%;
        max-height: 551px;
        max-width: 571px;
        inset: 0px;
        object-fit: cover;
        animation: fadeInAndDescend 1s ease-out 0s 1;
        justify-self: center;

        // @media (max-width: 700px) {
        //     width: 100%;
        // }

        &.ring-top {
            z-index: $bottomLayer;
        }
        
        &.ring-bottom {
            z-index: $topLayer;
        }
    }
}