@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
    color: #f2f2f2;
    background-color: #3b6842;
}

/* nav styles */
.navbar {
    color: #3b6842;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar--title {
        font-size: 106px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 15px;
        line-height: 1em;
        margin: 1vw 3vw;
    }

    .navbar--links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 2em;
        margin: 1vw 3vw;

        .navbar--link {
            padding: 0 .4em;

            &:hover {
                color: #f2f2f2;
                background-color: #3b6842;
                // transition: 0.1s ease-in-out;
            }
        }
    }
}

/* comics page styles */
.comics-page--links-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 40% 40%;
    
    .comics-page--link {
        display: flex;
        justify-content: center;
        padding: 20% 20%;

        border: 1rem solid;

        &:hover {
            color: #3b6842;
            background-color: #f2f2f2;

            border: none;
        }
    }
}